.explore-resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px auto auto auto;
    padding: 20px;
}

/* .explore-resources div {
    border: 1px solid red;
} */
a {
    margin: 20px;
    
}
a img {
    width: 250px;
}